# Byte-compiled / optimized / DLL files
py2048/__pycache__/
py2048/frontends/__pycache__/

*.py[cod]
*$py.class

# temporary and backup files
*~
*#
*.bak
commit.txt

# shell scripts
*.sh

# pytest
.pytest_cache/
py2048/.pytest_cache/

# pycharm folder
.idea*

# Distribution / packaging
build/
dist/
*.egg-info/
MANIFEST*
